# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment / secrets
.env
*.env

# VSCode / IDE settings
.vscode/
.idea/

# Python virtual environments
venv/
env/
ENV/

# macOS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Any other local files you don’t want in GitHub
*.pyc
*.pyo
